@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    line-height: 3;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    overflow: hidden;
}

body a{
    text-decoration: none;
}

/*NAV-BAR*/
#nav-bar{
    display: flex;
    justify-content: space-between;
}

#nav-bar a{
    color: white;
    font-size: 20px;
    margin-inline: 40px;
}

#nav-bar a:hover{
    color: #CCCCCC;
    transition: 0.7s;
}

#nav-bar li{
    display: inline-block;
}

/* MENU */
.menu{
    position: absolute;
    color: white;
    right: 40px;
    top: 30px;
    display: none;
}

.menu:hover{
    color: #DFDFDF;
    transition: 0.7s;
}

/*MAIN*/
#main h1{
    font-size: 75px;
    color: white;
    font-weight: 10;
}

#main i{
    color:purple;
}

.my-form{
    display: flex;
    margin-top: 0;
    padding: 10px;
}

/* ICONS & SEARCH-INPUT */
.search-icon{
    border: 1px solid purple;
    margin-left: 18.5%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 9px;
    padding-left: 6px;
    padding-bottom: 0px;
    padding-right: 5px;
}

.mic{
    border: 1px solid purple;
    margin-right: 19%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 9px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 5px;
}

.search{
    padding: 20px;
    width: 60%;
    outline: none;
}

/*BTN*/
.buttons{
    padding: 10px;
    width: 100%;
}

button{
    margin-inline: 15px;
}

.buttons button a{
    color: black;
    font-size: 15px;
}

.buttons .left-btn{
    padding: 20px;
    width: 20%;
    border-radius: 10px;
    background: white;
}

.buttons .right-btn{
    padding: 20px;
    width: 20%;
    border-radius: 10px;
    background: white;
}

.buttons .right-btn:hover{
    background-color: #DFDFDF;
    transition: 0.7s;
}

.buttons .left-btn:hover{
    background-color: #DFDFDF;
    transition: 0.7s;
}

/*FOOTER*/
footer{
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: purple;
    bottom: 0;
    width: 100%;
}

footer li{
    display: inline-block;
}

footer a{
    color: white;
    margin-inline: 40px;
}

footer a:hover{
    color:#CCCCCC;
    transition: 0.7s;
}

@media (max-width:768px){  
    .buttons button a{
        font-size: 10px;
    }
    
    .buttons .left-btn{
        padding: 15px;
    }
    
    .buttons .right-btn{
        padding: 15px;
    }
}

@media (max-width:932px){
    body{
        line-height: 2;
    }
    
    .navs{
        position: absolute;
        width: 100%;
        transform: translateX(400px);
        z-index: 1;
    }

    #nav-bar{
        position: absolute;
        flex-direction: column;
        float: right;
        top: 20px;
        right: 10px;
        background: purple;
        opacity: 0.3;
        width: 25%;
        padding: 10px;
    }
    
    #nav-bar a{
        margin-inline: 0px;
    }
    
    #nav-bar li{
        display: block;
        justify-content: space-between;
        border-bottom: 1px white solid;
    }

    #nav-bar .right li:last-child{
        border-bottom: none;
    }

    .menu{
        display: block;
    }

    .show{
        position: absolute;
        top: 7%;
        transform: translateX(5px);
        transition: 1s;
    }
    
    /* MENU */
    .menu{
        position: absolute;
        color: white;
        right: 10px;
        top: 10px;
        display: block;
    }
    
    .menu:hover{
        color: #DFDFDF;
        transition: 0.7s;
    }
    
    /*MAIN*/
    #main h1{
        margin-top: 100px;
        font-size: 50px;
    }
    
    .my-form{
        margin-top: 50px;
    }

    #main i{
        font-size: 20px;
    }
    
    /* ICONS & SEARCH-INPUT */
    .search-icon{
        margin-left: 10%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding-top: 5px;
    }
    
    .mic{
        margin-right: 10%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-top: 5px;
    }
    
    .search{
        padding: 0px;
        width: 100%;
    }

    .buttons button a{
        font-size: 10px;
    }
    
    .buttons .left-btn{
        padding: 10px;
    }
    
    .buttons .right-btn{
        padding: 10px;
    }

    footer{
        padding: 10px;
    }
    
    footer a{
        font-size: 10px;
        margin-inline: 10px;
    }
}

@media (max-width:320px){
    #nav-bar{
        width: 35%;
    }

    .show{
        transform: translateX(10px);
    }
    
    .buttons .left-btn{
        padding: 4px;
    }
    
    .buttons .right-btn{
        padding: 4px;
    }

    footer{
        padding: 10px;
    }
    
    footer a{
        font-size: 8px;
    }
}